* {
    margin: 0;
}
.container {
    background-image: url(https://img.freepik.com/free-vector/abstract-pastel-background-concept_23-2148590034.jpg?size=626&ext=jpg&ga=GA1.2.1164124233.1593993600);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p {
    font-size: xx-large;
    padding: 10%;
}

p {
    font: oblique bold 200%;
  }

button {
    font-size: xx-large;
    padding: 0.8em;
    border-radius: 18%;
    background-color: rgb(172, 134, 113); border-color: rgb(190, 154, 140);   
}

button {
    font-weight:bold;
    color:white;
}

#yesBtn {
    transform: translate(-100%, 0);
}

#noBtn {
    position: absolute;
    /* top: 50%;
    left: 0%;
    transform: translate(0%,-50%); */
}
