* {
    margin: 0;
}
.container {
    background-image: url(https://i.pinimg.com/originals/60/47/dd/6047dd5f4c685acb9d7f5a537c6222d9.jpg);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p {
    font-size: xx-large;
    padding: 10%;
}

p {
    font: oblique bold 200%;
  }

button {
    font-size: xx-large;
    padding: 0.8em;
    border-radius: 18%;
    background-color: rgb(172, 134, 113); border-color: rgb(190, 154, 140);   
}

button {
    font-weight:bold;
    color:white;
}

#yesBtn {
    transform: translate(-100%, 0);
}

#noBtn {
    position: absolute;
    /* top: 50%;
    left: 0%;
    transform: translate(0%,-50%); */
}
